#btn-logout{
  margin-top: 80px;
}

#likedArticle {
  border-right: 1px solid #efeff0;
  width: 390px;
}

#likedPoliticians {
  margin-left: 20px;
  width: 800px;
}

#myPage {
  display: flex;
}

#likedArticleHeader {
  display: flex;
}

#likedPoliticianHeader {
  display: flex;
}

#likeN {
  margin-right: 10px;
  margin-bottom: 10px;
}

.title{
  color: #976d4a;
}

.description{
  color: #976d4a;
  font-style: italic;
}



