.NewsArticleLeft {
    margin: 0px 20px;
    height: 250px;
    width: 700px;
    border: 2px solid gray;
    background-color: rgb(254, 166, 166);
  }
  
  .leftContent {
    float: left;
  }
  
  .rightContent {
    margin-left: 0px;
  }
  
  .title {
    font-size: 25px;
    font-weight: 500;
  }
  
  .content {
    font-size: 14px;
  }