.NewsArticleLeft {
    float: left;
    margin: 0px 20px;
    height: 250px;
    width: 680px;
    border: 2px solid #f1f8f1;
    background-color: rgb(254, 166, 166);
  }

  .NewsArticleRight {
    float: right;
    margin: 0px 20px;
    height: 250px;
    width: 680px;
    border: 2px solid #f1f8f1;
    background-color: rgb(182, 219, 254);
  }
  
  .leftContent {
    float: left;
  }
  
  .rightContent {
    margin-left: 0px;
  }
  
  .title {
    font-size: 25px;
    font-weight: 500;
  }
  
  .content {
    font-size: 14px;
  }