.navBar-userIcon {
<<<<<<< HEAD
    display: flex;
    margin: 0 0 0 auto;
    float: right;
    top: 0;
    white-space: nowrap;
    background-color: var(--background-color);
}

.navBar-title {
    float: left;
  }

.navBar-main-buttons {
    float: left;
    margin: 10 10 10 auto;
    display: flex;
  }
=======
  display: flex;
  margin: 0 0 0 auto;
  float: right;
  top: 0;
  white-space: nowrap;
  background-color: var(--background-color);
}

.navBar-title {
  float: left;
}

.navBar-main-buttons {
  float: left;
  margin: 10 10 10 auto;
  display: flex;
}
>>>>>>> f7f29bfb2c8c350b8d634f9604627bff28c1aefb
